In [1]:
from pathlib import Path
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

project_root = Path('..').resolve()
print('Project root:', project_root)

src_path = project_root / 'src'
if str(src_path) not in sys.path:
    sys.path.append(str(src_path))

from uais.data.load_cyber_data import load_cyber_data
from uais.features.cyber_features import build_cyber_feature_table

Project root: /Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence

In [2]:
df_cyber_raw = load_cyber_data()
print('Raw cyber shape:', df_cyber_raw.shape)
df_cyber_raw.head()

Found 8 cyber CSV file(s) in /Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence/data/raw/cyber
Loading NUSW-NB15_features.csv ...
Loading UNSW-NB15_1.csv ...

/Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence/src/uais/data/load_cyber_data.py:36: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

Loading UNSW-NB15_2.csv ...

/Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence/src/uais/data/load_cyber_data.py:36: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

Loading UNSW-NB15_3.csv ...
Loading UNSW-NB15_4.csv ...
Loading UNSW-NB15_4.csv ...
Loading UNSW-NB15_LIST_EVENTS.csv ...
Loading UNSW_NB15_testing-set.csv ...
Loading UNSW_NB15_training-set.csv ...
Loading UNSW-NB15_LIST_EVENTS.csv ...
Loading UNSW_NB15_testing-set.csv ...
Loading UNSW_NB15_training-set.csv ...
Full cyber raw shape: (2797973, 191)
Raw cyber shape: (2797973, 191)
Full cyber raw shape: (2797973, 191)
Raw cyber shape: (2797973, 191)

,No.,Name,Type,Description,59.166.0.0,1390,149.171.126.6,53,udp,CON,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1.0,srcip,nominal,Source IP address,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,sport,integer,Source port number,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,dstip,nominal,Destination IP address,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,dsport,integer,Destination port number,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,proto,nominal,Transaction protocol,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_cyber_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2797973 entries, 0 to 2797972
Columns: 191 entries, No. to label
dtypes: float64(160), object(31)
memory usage: 4.0+ GB

In [4]:
target_col = 'label'
print('Target distribution (0=normal,1=attack):')
print(df_cyber_raw[target_col].value_counts())
print('Attack ratio:', df_cyber_raw[target_col].mean())

Target distribution (0=normal,1=attack):
label
1.0    164673
0.0     93000
Name: count, dtype: int64
Attack ratio: 0.6390774353541117

In [5]:
numeric_cols = df_cyber_raw.select_dtypes(include=[np.number]).columns
print('Number of numeric columns:', len(numeric_cols))
df_cyber_raw[numeric_cols].describe().T.head(20)

Number of numeric columns: 160

,count,mean,std,min,25%,50%,75%,max
No.,49.0,2.500000e+01,1.428869e+01,1.0,13.000000,25.000000,3.700000e+01,4.900000e+01
0.001055,700000.0,8.633922e-01,2.593578e+01,0.0,0.003931,0.027594,3.465185e-01,8.786638e+03
132,700000.0,5.009643e+03,4.489871e+04,0.0,424.000000,2024.000000,3.806000e+03,1.367739e+07
164,700000.0,4.833044e+04,1.860517e+05,0.0,304.000000,3380.000000,2.243200e+04,1.465542e+07
31,2540043.0,6.278202e+01,7.462281e+01,0.0,31.000000,31.000000,3.100000e+01,2.550000e+02
29,2540043.0,3.076681e+01,4.285092e+01,0.0,29.000000,29.000000,2.900000e+01,2.540000e+02
0,2540043.0,1.801951e+00,1.028986e+01,0.0,0.000000,0.000000,1.000000e+00,5.096000e+03
0.1,2540043.0,2.926377e+03,4.008506e+04,0.0,0.000000,0.000000,0.000000e+00,6.558056e+06
500473.9375,700000.0,6.024278e+06,5.181495e+07,0.0,78858.787112,536271.812500,1.078489e+06,5.268000e+09
621800.9375,700000.0,3.011026e+06,4.499955e+06,0.0,76404.347658,668675.937500,3.856223e+06,1.287619e+08
2,2540043.0,1.817215e+01,4.579836e+01,0.0,2.000000,4.000000,2.200000e+01,1.020000e+04
2.1,1840043.0,2.735169e+01,8.893749e+01,0.0,2.000000,6.000000,2.500000e+01,1.097000e+04
0.2,2540043.0,4.966662e+01,1.009847e+02,0.0,0.000000,0.000000,0.000000e+00,2.550000e+02
0.3,2540043.0,4.983412e+01,1.008120e+02,0.0,0.000000,0.000000,2.000000e+00,2.550000e+02
0.4,2254787.0,4.700915e+08,1.060313e+09,0.0,0.000000,0.000000,1.000000e+00,4.294950e+09
0.5,1092962.0,9.705394e+08,1.356030e+09,0.0,0.000000,0.000000,1.918639e+09,4.294931e+09
66,700000.0,1.291136e+02,1.634568e+02,0.0,62.000000,73.000000,1.220000e+02,1.504000e+03
82,700000.0,3.438446e+02,3.464019e+02,0.0,81.000000,123.000000,5.650000e+02,1.500000e+03
0.7,1400000.0,2.397883e+03,3.449273e+04,0.0,0.000000,0.000000,0.000000e+00,2.063451e+06
0.8,700000.0,1.749235e+03,1.549505e+04,0.0,0.000000,29.799009,7.399301e+02,1.149892e+06

In [6]:
drop_cols = [c for c in ['id', 'attack_cat'] if c in df_cyber_raw.columns]

df_cyber_feats = build_cyber_feature_table(
    df_raw=df_cyber_raw,
    target_column=target_col,
    drop_columns=drop_cols,
)

processed_dir = project_root / 'data' / 'processed' / 'cyber'
processed_dir.mkdir(parents=True, exist_ok=True)

cyber_feats_path = processed_dir / 'unsw_nb15_features.parquet'
df_cyber_feats.to_parquet(cyber_feats_path)
print('Saved cyber feature table to:', cyber_feats_path)

Numeric features: 158, Categorical features: 30
Cyber feature table shape: (257673, 189)
Cyber feature table shape: (257673, 189)
Saved cyber feature table to: /Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence/data/processed/cyber/unsw_nb15_features.parquet
Saved cyber feature table to: /Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence/data/processed/cyber/unsw_nb15_features.parquet