# Reports & Plots Preview
Quickly view summary tables (`reports/metrics_<domain>.csv`) and plots (`figures/reports/<domain>_roc_auc.png`).
Run after you generate reports via `python -m src.uais.reporting.make_tables` and `python -m src.uais.reporting.make_plots`.

In [1]:
# Path setup
import sys
from pathlib import Path
project_root = Path('..').resolve()
sys.path.append(str(project_root / 'src'))
reports_dir = project_root / 'reports'
fig_dir = project_root / 'figures' / 'reports'
domains = ['fraud','cyber','behavior','nlp','vision','fusion']
print('Project root:', project_root)

Project root: /Users/pratik_n/Desktop/MyComputer/universal-anomaly-intelligence

## View tables

In [2]:
import pandas as pd
for d in domains:
    path = reports_dir / f'metrics_{d}.csv'
    print(f"\n== {d.upper()} table ==")
    if path.exists():
        display(pd.read_csv(path))
    else:
        print('missing; run make_tables')

== FRAUD table ==

     Metric  mean  std
0  accuracy  0.92  NaN
1        f1  0.82  NaN
2    pr_auc  0.90  NaN
3   roc_auc  0.96  NaN

== CYBER table ==

     Metric  mean  std
0  accuracy  0.90  NaN
1        f1  0.80  NaN
2    pr_auc  0.88  NaN
3   roc_auc  0.93  NaN

== BEHAVIOR table ==

     Metric  mean  std
0  accuracy  0.85  NaN
1        f1  0.75  NaN
2    pr_auc  0.82  NaN
3   roc_auc  0.88  NaN

== NLP table ==
missing; run make_tables

== VISION table ==

     Metric  mean  std
0  accuracy  0.89  NaN
1        f1  0.78  NaN
2    pr_auc  0.86  NaN
3   roc_auc  0.91  NaN

== FUSION table ==

     Metric  mean  std
0  accuracy  0.93  NaN
1        f1  0.84  NaN
2    pr_auc  0.92  NaN
3   roc_auc  0.97  NaN

## View plots

In [3]:
from IPython.display import Image, display
for d in domains:
    fig = fig_dir / f'{d}_roc_auc.png'
    print(f"\n== {d.upper()} plot ==")
    if fig.exists():
        display(Image(filename=str(fig)))
    else:
        print('missing; run make_plots')

== FRAUD plot ==
missing; run make_plots

== CYBER plot ==
missing; run make_plots

== BEHAVIOR plot ==
missing; run make_plots

== NLP plot ==
missing; run make_plots

== VISION plot ==
missing; run make_plots

== FUSION plot ==
missing; run make_plots

## Next steps
- If tables/plots are missing, rerun the reporting scripts and refresh this notebook.
- Customize domains if you add more under `experiments/`.